<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!--<link rel="icon" href="http://otaflb4oo.bkt.clouddn.com/CX-UI-Design/Logo/bigBear.ico" type="image/x-icon">-->
    <!--<link rel="shortcut icon" href="http://otaflb4oo.bkt.clouddn.com/CX-UI-Design/Logo/bigBear.ico" type="image/x-icon">-->
    <!--<link rel="icon" href="http://mc.mmmono.com/static/img/favicon.ico?v=167783947" type="image/x-icon">-->

</head>
<body>
<div class="layout">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Webpack-mpa-template</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="navbar-link">Home</a></li>
                    <li><a href="./pages/about.html" class="navbar-link">About</a></li>
                    <li><a href="./pages/contact.html" class="navbar-link">Contact</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="page-header">
        <h1>Home 页面
            <small>Subtext for header</small>
        </h1>
    </div>
    <img class="interviewMap-back" src="<%= require('../../assets/img/InterviewMap.png') %>" alt="back-img">
</div>
</body>
</html>
